/* ---default css--- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

body {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 400;
}

ul {
    list-style: none;
}

.d-flex {
    display: flex;
}

a {
    text-decoration: none;
}

.justify-content {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

:root {
    --primary-color: #E20048;
}


.btn {
    color: #fff;
    padding: 10px 15px;
    background-color: #E20048;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: .5s;
}

.btn:hover {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    background-color: transparent;
    cursor: pointer;
}


.icons {
    font-size: 14px;
    padding: 0px 10px;
    color: black;
}

ul li {
    padding: 10px;
    color: black;
}


nav ul li a {
    font-family: 'poppins';
    padding: 10px 0px;
    color: black;
}

i {
    color: #E20048;
}

/* ---------CSS------------ */

.header-nav {
    background-color: rgb(45, 44, 44);
    color: #fff;
    height: 100px;
}

.header-nav i {
    color: #fff;
    padding: 10px;
}

.header-nav li {
    color: #fff;
    font-weight: 300;
}

.header {
    width: 1200px;
    justify-content: center;
    margin: 0 auto;
    z-index: 1;
    background-color: #fff;
    top: 140px;
    left: 100px;
    transform: translateY(-50%);
    cursor: pointer;
}

.top-header {
    bottom: 0;
    padding: 10px;
    background-color: #fff;
}

.menu {
    position: absolute;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
    width: 100%;
}

.menu ul li:hover {
    color: var(--primary-color);
}

.headertop-info {
    padding: 5px;
}

span {
    margin: 0 10px;
    font-weight: 300;
}

.menu .btn {
    color: #fff;
    padding: 10px 30px;
    margin-right: 500px;
}

.menu .btn:hover {
    color: #E20048;
}

/* -----------------banner-content------------ */

.bannerbg-img {
    background-image: url("../images/asset 6.png");
    height: 100vh;
    z-index: -1;
    background-size: cover;
    background-position: center;
    position: relative;
}


.banner-content {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 100px;
}

.banner-content h3 {
    font-size: 32px;
    color: var(--primary-color);
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 10px
}

.banner-content h2 {
    font-size: 50px;
    margin-bottom: 5px;
}

.banner-content.btn {
    margin-top: 20px;
    width: 150px;
}






/* -------------banner-data-------------- */

.img1 {
    max-width: 33.33%;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;
}

.img1 img {
    max-width: 100%;
}


.data-content {
    position: absolute;
    right: 25px;
    text-align: left;
    align-items: center;
    top: 50%;
    bottom: 0;
}

.data-content p {
    margin-bottom: 10px;
}

.data-content h2 {
    margin-bottom: 10px;
}

.img1 .btn {
    width: 150px;
    padding: 10px 15px;
    background-color: var(--primary-color);
    border-radius: 5px;
    border: transparent;
    transition: .5s;
}


.img1 .btn:hover {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    background-color: transparent;
    cursor: pointer;
}

/* ------------Trending Products----------- */
.trending-products h1 {
    margin-top: 30px;
    position: relative;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: .5px;
    padding: 0 0 8px;
    margin-bottom: 25px;
    font-weight: 500;
    color: #232323;
    text-align: center;
}

h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70px;
    height: 1px;
    text-align: center;
    margin: 0 auto;
    background: #c1c0c0
}


.trending-products .btn {
    margin: 15px;
}

.subbox1 {
    height: 340px;
    width: 270px;
    margin: 10px;
}

.subbox1 img {
    height: 270px;
    width: 270px;
}

.box h5 {
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
}

/* -----------parallax-section------------ */

.parallax-banner {
    height: 610px;

}

.parallax-img {
    background-image: url(../images/parallax.jpg);
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*--------- trending-handbag------------- */

.handbag .img {
    height: 565px;
    width: 565px;
    background-image: url(../images/asset\ 30.png);
    background-size: cover;
    background-position: center;

}

.Trending-handbag h1 {
    margin-top: 30px;
    position: relative;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: .5px;
    padding: 0 0 8px;
    margin-bottom: 25px;
    font-weight: 400;
    color: #232323;
    text-align: center;
}

h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70px;
    height: 1px;
    text-align: center;
    margin: 0 auto;
    background: #c1c0c0;
}

.handbag-content h2 {
    font-weight: 300;
}

.handbag-content {
    padding: 100px;
}

.handbag-content i {
    color: yellow;
}

.handbag-content h5 {
    font-weight: 400;
    display: inline;
}

.handbag-content p {
    font-weight: 300;
    color: grey;
}

.handbag-content2 {
    padding: 20px 0;
}

.handbag-content2 i {
    color: #c1c0c0;
}

button {
    border: none;
    font-size: 15px;
    background-color: black;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
}

button:hover {
    background-color: transparent;
    border: 2px solid black;
    color: black;
}

/* --------------FOOTER--------------- */
.top {
    text-align: center;
    font-size: 15px;
    color: #898888;
}

.footer-bg {
    padding-top: 50px;
    padding-bottom: 100px;
    background: white;
}

.footer-content {
    padding-top: 0;
    padding-bottom: 0;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.footer-content h3 {
    font-size: 20px;
    font-weight: 400;
    color: #232323;
    margin-bottom: 20px;
}

.footer-content img {
    margin-bottom: 35px;
}

.footer-content p {
    color: #272626;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
}

footer ul li a {
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    font-family: 'poppins';
}


.footer-content ul li a:hover {
    color: var(--primary-color);
    transition: .3s;
}

.footer-icon:hover {
    color: #E20048;
}

.f-logo {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.f-logo i {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    border-radius: 5px;
    margin-right: 5px;
    border: 2px solid none;
    background-color: #E20048;
}

.f-logo i:hover {
    color: #E20048;
    background-color: transparent;
    border: 2px solid var(--primary-color);
}