@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg-main: #f9f8f6;
  --bg-section: #efe9e3;
  --border-soft: #d9cfc7;
  --primary: #c9b59c;
  --text-dark: #232323;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: var(--bg-main);
  color: var(--text-dark);
}

.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 15px;
}

.d-flex {
  display: flex;
}

.justify-content {
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

/* buttons */
.btn {
  background: var(--primary);
  color: #fff;
  margin: 5px;
  padding: 10px 20px;
  border: 1px solid var(--primary);
  transition: 0.3s;
  display: inline-block;
}

.btn:hover {
  background: transparent;
  color: var(--primary);
}

/* header */
.main-header {
  background-color: #fff;
  padding: none;
}

.header-top {
  padding: auto;
  display: flex;
  justify-content: space-between;
}

.logo a {
  font-size: 35px;
  letter-spacing: 8px;
  color: #625151;
  font-weight: 300;
}

/* right info */
.header-info a {
  font-size: 15px;
  color: #000;
}

.header-info i {
  color: var(--primary) !important;
  margin-right: 5px;
}
/* ================= MAIN HEADER ================= */

/* top part */
.header-top {
  padding: 10px 0;
}

.logo a {
  font-size: 36px;
  letter-spacing: 6px;
  color: #000;
}

/* right info */
.header-info a {
  margin-left: 10px;
  font-size: 16px;
  color: #000;
}

.header-info i {
  color: var(--primary-color);
  margin-right: 5px;
}

/* ===== MENU ===== */
.menu {
  background-color: #fff;
  padding: 15px 0;
}

.menu nav ul {
  list-style: none; /* no bullets */
  display: flex;
  justify-content: center; /* CENTER MENU */
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu nav ul li {
  margin: 0 16px;
}

.menu nav ul li a {
  font-size: 16px;
  color: var(--text-dark);
  transition: 0.3s;
}

.menu nav ul li a:hover {
  color: var(--primary-color);
}

span {
  margin: 0 10px;
  font-weight: 300;
}

/* -----------------banner-content------------ */

.bannerbg-img {
  height: 95vh;
  background: url("../images/parallax.jpg") center/cover no-repeat;
  position: relative;
}

.banner-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* categories */
.banner-data .img1 {
  width: 33.33%;
  position: relative;
}

.img1 img {
  width: 100%;
}

.data-content {
  position: absolute;
  top: 40%;
  right: 20px;
  background: rgba(249, 248, 246, 0.85);
  padding: 15px;
}

/* features */
.features {
  background: var(--bg-section);
  padding: 50px 0;
}

.feature-box {
  width: 30%;
  text-align: center;
}

/* products */
.trending-products {
  padding: 50px 0;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.add-cart-btn {
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  padding: 8px 0;
  background: var(--border-soft);
}
.subbox1 {
  background: #fff;
  margin: 5px;
  padding: 7px;
  transition: 0.3s;
  position: relative;
  text-align: center;
}

.subbox1 img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  position: relative;
}

.subbox1:hover {
  transform: translateY(-5px);
}

/* wishlist heart (minimal) */

.wishlist-btn {
  position: absolute;
  top: 15px;
  right: 8px;
  cursor: pointer;
  font-size: 16px;
  color: #000;
  transition: 0.3s;
}

.wishlist-btn:hover {
  color: crimson;
}

/* parallax */
.parallax-banner {
  height: 400px;
  background: url("../images/parallax-2.jpg") center/cover fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

/* newsletter */
.newsletter {
  background: var(--bg-section);
  text-align: center;
  padding: 50px 0;
}

.newsletter input {
  padding: 10px;
  width: 250px;
  margin-right: 10px;
}

/* footer */
/* ================= FOOTER ================= */

.footer {
  background-color: #fff;
  margin-top: 60px;
}

/* top section */
.footer-top {
  padding: 60px 0 40px;
  text-align: center;
}

.footer-logo {
  font-size: 36px;
  letter-spacing: 8px;
  margin-bottom: 15px;
}

.footer-top p {
  max-width: 700px;
  margin: auto;
  color: #777;
  line-height: 24px;
}

/* social icons */
.footer-social {
  margin-top: 30px;
}

.footer-social a {
  display: inline-block;
  width: 55px;
  height: 55px;
  background-color: var(--primary);
  color: #fff;
  line-height: 55px;
  margin: 0 5px;
  border-radius: 4px;
  transition: 0.3s;
}

.footer-social a:hover {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
}

/* links section */
.footer-links {
  padding: 20px 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

/* footer boxes */
.footer-box h3 {
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: 500;
}

.footer-box ul {
  list-style: none;
}

.footer-box ul li {
  margin-bottom: 15px;
  font-size: 15px;
  color: #555;
}

.footer-box ul li i {
  color: var(--primary);
  margin-right: 8px;
}

.footer-box ul li a {
  color: #555;
  transition: 0.3s;
}

.footer-box ul li a:hover {
  color: var(--primary);
}

/* ===== SUPPORT SECTION ===== */

.support-section {
  padding: 40px 0;
  background: var(--bg-main);
}

.support-section h2 {
  font-size: 26px;
  color: var(--primary);
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.support-text {
  max-width: 800px;
  font-size: 18px;
  color: #444;
  line-height: 24px;
  margin-bottom: 15px;
}
.faq-section h3 {
  color: var(--primary);
}
.faq-section {
  margin-top: 40px;
}

.faq-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.faq-item .icon {
  font-size: 22px;
  font-weight: 300;
}

.faq-content {
  display: none;
  margin: 10px 0px 0px 10px;
  color: var(--text-dark);
}

/* ===== (LOGIN / REGISTER) ===== */

.auth-section {
  min-height: 70vh;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  background: var(--bg-main);
}

.auth-box {
  background: #fff;
  padding: 20px;
  width: 380px;
  border: 1px solid var(--border-soft);
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 500;
}

.auth-box form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid var(--border-soft);
  font-size: 14px;
}

.auth-box form input:focus {
  outline: none;
  border-color: var(--primary);
}

.auth-box .btn {
  width: 100%;
  margin-top: 10px;
}

.auth-text {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.auth-text a {
  color: var(--primary);
}
/* ===== WISHLIST ===== */

.wishlist-section {
  padding: 20px 0;
}

.wishlist-section h2 {
  text-align: center;
}

/* --profile */

.profile-layout {
  margin: 50px;
  display: flex;
  gap: 30px;
}

/* sidebar */
.profile-sidebar {
  width: 260px;
  background: #fff;
  border: 1px solid var(--border-soft);
}

.profile-sidebar ul {
  list-style: none;
}

.profile-sidebar ul li {
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #333;
}

.profile-sidebar ul li i {
  font-size: 16px;
}

/* active item */
.profile-sidebar ul li.active {
  color: var(--primary);
  font-weight: 500;
  border-right: 3px solid var(--primary);
  background: #faf7f4;
}

/* hover */
.profile-sidebar ul li:hover {
  background: #f5f5f5;
}

/* logout */
.profile-sidebar ul li.logout {
  color: #b00020;
}

/* main content */
.profile-content {
  flex: 1;
  background: #fff;
  border: 1px solid var(--border-soft);
  padding: 30px;
}

.profile-content h2 {
  margin-bottom: 25px;
}

/* reuse existing rows */
.profile-box .info-row {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}
